.cruises-item {
  background-color: $color-tangaroa;
  min-height: 28.26vw;
  max-width: 19.03vw;
  display: flex;
  flex-direction: column;
  padding: 2vw 1.85vw 2.6vw;
  position: relative;
  overflow: hidden;

  @include vp-1023 {
    max-width: none;
    width: 40.23vw;
    min-height: 50.26vw;
    padding: 3.7vw 4.5vw 4.5vw;
  }

  @include vp-767 {
    width: 84.38vw;
    min-height: 120.6vw;
    padding: 8.9vw 7.75vw 11vw;
  }

  &:hover {
    & .cruises-item__order-button::before {
      transform: translateX(-100%);
      transition: 0.5s all;
    }

    & .cruises-item__title {
      margin: 0 0 0.88vw;
      z-index: 0;
      transform: translateY(0) translateX(0);

      @include vp-1023 {
        margin: 0 0 1.49vw;
      }

      @include vp-767 {
        margin: 0 0 3.5vw;
      }
    }
  }

  &__title {
    order: -1;
    margin: 0 0 0.88vw;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 1.34vw;
    word-break: break-word;
    line-height: 1.5em;
    z-index: 2;
    transform: translateY(22.55vw) translateX(0.3vw);

    @include vp-1023 {
      font-size: 2.36vw;
      margin: 0 0 1.45vw;
      transform: translateY(39.45vw) translateX(0);
    }

    @include vp-767 {
      font-size: 5.6vw;
      margin: 0 0 -5.6vw 0;
      transform: translateY(97.8vw);
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 1vw;
    color: $color-alice-blue;

    @include vp-1023 {
      font-size: 1.79vw;
    }

    @include vp-767 {
      font-size: 4.28vw;
    }
  }

  &__subdescription {
    margin: 0 0 0.6vw;
    font-size: 1.03vw;
    line-height: 1.4em;
    color: $color-alice-blue;

    @include vp-1023 {
      font-size: 1.83vw;
      margin: 0 0 1.1vw;
    }

    @include vp-767 {
      font-size: 4.38vw;
      margin: 0 0 2.78vw;
    }

    &:last-of-type {
      margin: 0;
    }
  }

  &__order-button {
    font-size: 1.03vw;
    padding-top: 0.58vw;
    padding-bottom: 0.6vw;
    margin-top: auto;

    @include vp-1023 {
      font-size: 1.82vw;
      padding-top: 1vw;
      padding-bottom: 1.1vw;
    }

    @include vp-767 {
      font-size: 4.4vw;
      padding-top: 2.5vw;
      padding-bottom: 2.5vw;
    }

    &:focus {
      &::before {
        transform: translateY(100%);
        transition: 0.5s all;
      }

      & ~ .cruises-item__title {
        margin: 0 0 0.88vw;
        transform: translateY(0) translateX(0);

        @include vp-1023 {
          margin: 0 0 1.45vw;
        }

        @include vp-767 {
          margin: 0 0 3.35vw;
        }
      }
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s all;
      background-repeat: no-repeat;
      background-position: top 0 left 0;
      background-size: cover;
    }
  }

  &--astoria &__order-button::before {
    background-image: url("/img/content-astoria--desktop.webp");

    @include retina {
      background-image: url("/img/content-astoria--desktop@2x.webp");
    }
  }

  &--eline &__order-button::before {
    background-image: url("/img/content-eline--desktop.webp");

    @include retina {
      background-image: url("/img/content-eline--desktop@2x.webp");
    }
  }

  &--atlantis &__order-button::before {
    background-image: url("/img/content-atlantis--desktop.webp");

    @include retina {
      background-image: url("/img/content-atlantis--desktop@2x.webp");
    }
  }

  &--odyssey &__order-button::before {
    background-image: url("/img/content-odyssey--desktop.webp");

    @include retina {
      background-image: url("/img/content-odyssey--desktop@2x.webp");
    }
  }

  &--olympia &__order-button::before {
    background-image: url("/img/content-olympia--desktop.webp");

    @include retina {
      background-image: url("/img/content-olympia--desktop@2x.webp");
    }
  }

  &--aurora &__order-button::before {
    background-image: url("/img/content-aurora--desktop.webp");

    @include retina {
      background-image: url("/img/content-aurora--desktop@2x.webp");
    }
  }

  &--leonor &__order-button::before {
    background-image: url("/img/content-leonor--desktop.webp");

    @include retina {
      background-image: url("/img/content-leonor--desktop@2x.webp");
    }
  }

  &--minion-1 &__order-button::before {
    background-image: url("/img/content-minion-1--desktop.webp");

    @include retina {
      background-image: url("/img/content-minion-1--desktop@2x.webp");
    }
  }
}

.cruises .cruises-item--astoria {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-astoria--tablet.webp");

      @include retina {
        background-image: url("/img/content-astoria--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-astoria--mobile.webp");

      @include retina {
        background-image: url("/img/content-astoria--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--eline {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-eline--tablet.webp");

      @include retina {
        background-image: url("/img/content-eline--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-eline--mobile.webp");

      @include retina {
        background-image: url("/img/content-eline--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--atlantis {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-atlantis--tablet.webp");

      @include retina {
        background-image: url("/img/content-atlantis--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-atlantis--mobile.webp");

      @include retina {
        background-image: url("/img/content-atlantis--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--odyssey {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-odyssey--tablet.webp");

      @include retina {
        background-image: url("/img/content-odyssey--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-odyssey--mobile.webp");

      @include retina {
        background-image: url("/img/content-odyssey--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--olympia {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-olympia--tablet.webp");

      @include retina {
        background-image: url("/img/content-olympia--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-olympia--mobile.webp");

      @include retina {
        background-image: url("/img/content-olympia--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--aurora {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-aurora--tablet.webp");

      @include retina {
        background-image: url("/img/content-aurora--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-aurora--mobile.webp");

      @include retina {
        background-image: url("/img/content-aurora--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--leonor {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-leonor--tablet.webp");

      @include retina {
        background-image: url("/img/content-leonor--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-leonor--mobile.webp");

      @include retina {
        background-image: url("/img/content-leonor--mobile@2x.webp");
      }
    }
  }
}

.cruises .cruises-item--minion-1 {
  & .cruises-item__order-button::before {
    @include vp-1023 {
      background-image: url("/img/content-minion-1--tablet.webp");

      @include retina {
        background-image: url("/img/content-minion-1--tablet@2x.webp");
      }
    }

    @include vp-767 {
      background-image: url("/img/content-minion-1--mobile.webp");

      @include retina {
        background-image: url("/img/content-minion-1--mobile@2x.webp");
      }
    }
  }
}
