.footer-navigation {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2.43vw;

    @include vp-1023 {
      column-gap: 3vw;
    }

    @include vp-767 {
      grid-template-columns: auto;
      row-gap: 2.5vw;
    }
  }
}
