// Colors

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-alice-blue:                  #f9fbfd;
$color-tangaroa:                    #011c40;
$color-dodger-blue:                 #007aff;
$color-pattens-blue:                #cddeed;
$color-link-water:                  #cacfd4;
$color-sapphire:                    #101a56;
$color-royal-blue:                  #4169e1;
$color-wedgewood:                   #4e6b8b;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography

$fz-default:                        16px;
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
